{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Gestion Utilisateur</h1>
        <hr class="my-4">
    </div>
    {{ form_start(form) }}
    <div class="row">
    <div class="col-md-6 offset-3">
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <button type="submit">Ajouter</button>
    </div>

    </div>
    {{ form_end(form) }}

{% endblock  %}
